#navbar{
    background-color: black;
    margin:0px;
    padding: 15px;
    
}
body{
    margin:0px;
}

#navbar ul {
    list-style: none;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center; /* Ensures even spacing */
    align-items: center;
}

#navbar li 
{
    flex-grow:  1; /* Each item takes equal space */
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    color: white;
}
#navbar li:last-child {
    margin-left: auto; /* Pushes the last item to the right */
    flex-grow: 0; /* Ensures it doesn't stretch too much */
}
#navbar li a{
    align-items: center;
    color: white;
}
#navbar li form{
    display:inline-block;
    
}